.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.character-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
